@keyframes colorchange {
    from {
        color: white
    }

    25% {
        color: blue;
    }

    50% {
        color: hotpink;
    }

    75% {
        color: orange;
    }

    to {
        color: forestgreen;
    }
}

@keyframes slidedown {
    from {
        margin-top: -80px;
    }

    to {
        margin-top: 80vh;
    }
}

.moving-arrow-slow {
    animation-duration: 10s, 3s;
    animation-name: slidedown, colorchange;
    animation-timing-function: linear, ease;
    animation-iteration-count: 1, infinite;
    animation-direction: normal, alternate;
}

.moving-arrow-medium {
    animation-duration: 7s, 3s;
    animation-name: slidedown, colorchange;
    animation-timing-function: linear, ease;
    animation-iteration-count: 1, infinite;
    animation-direction: normal, alternate;
}

.moving-arrow-fast {
    animation-duration: 4s, 3s;
    animation-name: slidedown, colorchange;
    animation-timing-function: linear, ease;
    animation-iteration-count: 1, infinite;
    animation-direction: normal, alternate;
}

.moving-arrow {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    color: purple;
    display: block;
    font-size: 80px;
    z-index: 2;
}

@keyframes explode {
    from {
        color: white;
    }

    to {
        color: gold;
    }
}

.explode {
    animation-duration: 0.3s;
    animation-name: explode;
    animation-timing-function: linear;
}

.moving-explode {
    animation-duration: 1s, 2s;
    animation-name: explode, slidedown;
    animation-timing-function: linear;
}

.paused {
    -webkit-animation-play-state: paused !important;
    -moz-animation-play-state: paused !important;
    -o-animation-play-state: paused !important; 
    animation-play-state: paused !important;
}