@keyframes slidedown {
    from {
        margin-top: -80px;
    }

    to {
        margin-top: 100vh;
    }
}

.moving-arrow-slow {
    animation-duration: 10s;
    animation-name: slidedown;
    animation-timing-function: linear;
}

.moving-arrow-medium {
    animation-duration: 7s;
    animation-name: slidedown;
    animation-timing-function: linear;
}

.moving-arrow-fast {
    animation-duration: 4s;
    animation-name: slidedown;
    animation-timing-function: linear;
}

.moving-arrow {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    color: black;
    display: block;
    font-size: 80px;
    z-index: 2;
}