html, body, #page, #page>.row, #game, #lanes {
    height: 100%;
}

#menu {
    height: initial;
}

.lane {
    height: 100%;
    /* overflow: hidden; make sure any overflow is invisible */
}

.arrow {
    /* margin-top: -80px; */
    /* margin-top: 600px; */
    text-align: center;
    color: white;
    display: block;
    font-size: 80px;
}