html, body, #page, #page>.row, #game, #lanes {
    height: 80vh;
}

body {
    background-color: silver;
}

#menu {
    height: initial;
    background-color: lightblue;
}

.lane {
    position: relative;
    height: 80vh;
    overflow: visible;
    background-color: black;
}

.arrow {
    text-align: center;
    color: white;
    display: block;
    font-size: 80px;
}

.arrow-bg {
    z-index: -1;
    background-color: black;
}

#counter {
    font-size: 20px;
    font-weight: bold;
}