<div ng-controller="add-user-ctrl" class = "container">
        <h1>Add a user:</h1>
        <form action="#" ng-submit="postUser()" >
            ID:  <input type="text" ng-model="user.userId" placeholder="User Id"/> <br/>
            FirstName:  <input type="text" ng-model="user.firstname" placeholder="First Name"/> <br/>
            Last Name:  <input type="text" ng-model="user.lastname" placeholder="Last Name"/> <br/>
            Email:      <input type="email" ng-model="user.email" placeholder="Email"/> <br/>
            Username:   <input type="text" ng-model="user.username" placeholder="Username"/> <br/>
            Password:   <input type="password" ng-model="user.user.password" placeholder="Password"/> <br/>
            <input type="submit" value="Add" /> <br/>
        </form>
</div>