<div ng-controller="catalog-view-ctrl" ng-init="refresh2()">
        <h1>Catalog Items</h1>
        <input type="text" ng-model="search" class="form-control"></input>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Image</th>

                </tr>
            </thead>
            <tbody ng-if="Items">
                <tr ng-repeat="i in Items | orderBy: 'price' | filter:search">
                    <td>{{ i.id }}</td>
                    <td>{{ i.name }}</td>
                    <td>{{ i.price | currency }}</td>
                    <td><image ng-src="{{ i.imageUrl}}" width ="200px" height="auto"/></td>
                </tr>
            </tbody>
        </table>
        <!--<button class="btn" ng-click="refresh()">Refresh</button>-->
    </div>