<div ng-controller="text-ctrl" class="container" ng-mouseover="myStyle={'background-color':'yellow'}" ng-mouseleave= "myStyle={'background-color':'white'}" >
<br/>
 
<input type="button" class="btn btn-primary" ng-model="myVar" value="Hide/Show" ng-click="HideValue = !HideValue" />

<div ng-style="myStyle" ng-show="HideValue" ng-hide="!HideValue">
<br/>

<h3>Descriptions of our items:</h3>
<br/>

<p><b>Sugared Cinnamon Apple Yankee Candle:</b></p>
<p>This candle's small 7-oz. size likes to mingle in groups with other size candles. 
    It's also great for gift giving or sampling our scents to your heart's content. 
    The brushed metal lid and modern shape keeps it on trend. A single wick does the 
    trick in distributing the premium fragrance.
</p>

<br/>
<p><b>Space Socks:</b></p>
<p>Explore the style solar system with our Space socks. A deep, dusky teal background 
    contrasts with a black heel, toe and cuff, but the real star is the out-of-this-world 
    pattern of shooting stars, planets and crescent moons in black, hot pink, yellow, grass 
    green and orange. These socks are an essential for any aspiring astronaut. Available in 
    men's and women's sizes, and made of comfortable combed cotton. 
</p>

<br/>
<p><b>Red Cotton Hat:</b></p>
<p>Six panels combine to create the low profile design that protects your eyes from the sun. 
    The pre-curved bill with four rows of stitching enhances the stylish design of the Anvil cap. 
    One-hundred percent cotton twill ensures you cover your head with a super-soft fabric. Wear the 
    versatile cap on casual Fridays at work or around the house performing home improvement projects
</p>

<br/>
<p><b>Black Over Ear Headphones</b></p>
<p>The headphones are designed with soft protein earmuffs simulate human skin texture, making it comfortable 
    to wear for long periods of time. The improved neodymium driver brings awesome sound quality. Savor your 
    every breath for a truly emotional experience with Mpow headphone. The built-in microphone enables hands-free 
    calling to help you conduct crystal clear conversations. What's more, you can control all functions of music and 
    calls easily via the buttons on the headphone
</p>

<br/>
<p><b>Ray-Ban Wayfarer Sunglasses</b></p>
<p>Our iconic Ray-Ban Wayfarer sunglasses are the most recognizable style in the history of sunglasses. The selection 
    includes the New Wayfarer, Original Wayfarer, and Folding Wayfarer styles.</p>

</div>
</div>