td {
    background: blue;    
}

hidden{
    background: blue;
}
td:hover{
    background-color:grey;
}

.hov{
    background-color: lightgray;
}
.ship{
    background-color: black;
}
.hit{
    background-color: red;
}
.miss{
    background-color: white;
}