<div ng-controller="get-all-ctrl" ng-init="refresh()">
        <h1>All Users </h1>
        <input type="text" ng-model="search" class="form-control"/>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Picture</th>
                </tr>
            </thead>

            <tbody ng-if="items">
                <tr ng-repeat="i in items | orderBy:'price'">
                    <td>{{ i.id}}</td>
                    <td>{{ i.name}}</td>
                    <td>{{ i.price | currency}}</td>
                    <td><img ng-src="{{i.imageUrl}}" height="50px" width="50px"></img></td>
                </tr>
            </tbody>
        </table>
        <!--<button ng-click="refresh()">Refresh</button>-->
    </div>

