.statBlock {
    font-size: 20px;
    font-weight: bold;
}
#skillSelection {
    border: 2px solid cadetblue;
    display: none;
}

#characterBuilderContainer {
    border-block-end: 2px solid darkblue;
    border-block-start: 2px solid darkblue;
    padding: 15px
}

pre {
    min-height: 100%;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}