.statBlock {
    font-size: 20px;
    font-weight: bold;
}

.tool-tip {
    display: inline-block;
    position: relative;
}

.tool-tip .tooltiptext {
    /* Tooltip Text Settings */
    visibility: hidden;
    width: 360px;
    background-color: #555;
    color: #fff;
    text-align: left;
    font-family: Consolas;
    font-size: 14px;
    padding: 5px 0;
    border: 0.5px solid cadetblue;
    border-radius: 6px;

    /* Tooltip Positioning */
    position: absolute;
    margin-left: -10px;
    z-index: 1;
    top: 125%;
    left: 27.5%;

    /* Tooltip Fade */
    opacity: 0;
    transition: opacity 0.3s;
}

.tool-tip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#skillSelection {
    border: 2px solid cadetblue;
    display: none;
}

#characterBuilderContainer {
    border-block-end: 2px solid darkblue;
    border-block-start: 2px solid darkblue;
    padding: 15px
}

pre {
    height: 100%;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}