#banner {
	background: url("../assets/banner.png") center center;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
@font-face {
  font-family: 'DISKOTEQUE';
  src: url('../diskoteque-webfont.woff') format('woff');
}  
#scoreboard {
	font-family:"DISKOTEQUE";
	display:inline;
}
#homepage_header {
    text-align: center;
    color: black;
}
#HBOX {
    margin-left:auto;
    margin-right:auto;
    margin-top: 500px;
    display: block;
    background-color:#ff4d01;
    height:400px;
    width:90%;
}
.sb{
	font-family:"DISKOTEQUE";
	display:inline;
	font-size:13px;
}
.autumn {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: orange;

}
.normalize {
    margin: 15px;
    font-size: 30px;
}
.left {
    border-right: solid black 2px;
    align:center;
    left:15px;
    height: 80%;
    padding-left:30px;
    margin-top:35px;
    float:left;
    width:40%;
}
.right {
    border-left: solid black 2px;
    align:center;
    padding-right:30px;
    margin-top:35px;
    height: 80%;
    float: right;
    width:40%;
}
.button {
    font:20px strong;
    align:center;
    margin-top:80px;
    margin-left:90px;
    width: 50%;
    height: 50%;
}
.nopad {
    padding:0px;
}
.up {
    width:14vh;
    height:14vh;
    margin-top:0vh;
    margin-left: 1vh;
    background-image: url("../assets/bandit.png");
    z-index:1;
}
.down {
    width:14vh;
    height:7vh;
    margin-top:7vh;
    margin-left:1vh;
    background: url("../assets/popin.png") center center;
}
.hider {
    width:14vh;
    height:14vh;
    margin-top:0vh;
    margin-left: 1vh;
    background: url("../assets/hide.png") center center;
    z-index:1;
}
.twice {
    width:14vh;
    height:14vh;
    margin-top:0vh;
    margin-left: 1vh;
    background: url("../assets/poptwice.png") center center;
    z-index:1;
}