* {
    font-family: cursive;
}

li {
    /* 
        border shortcut: first value = width ( in px), second value is style (solid, dotted, etc), 
        third value is the color
    */
    border: 1px solid rgb(172, 255, 47);
}

p {
    background-color: purple;
    color: white;
}

#popTarts {
    font-size: 400%;
}

li.red {
    color: red;
}