<div ng-controller="display-all-ctrl" ng-init="refresh()">
    <h1>We Got All Da Items</h1>
    <input type="text" ng-model="search" class="form-control" />
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody ng-if="users">
            <tr ng-repeat="u in users | filter:search | orderBy: 'price'">
                <td>{{ u.id }}</td>
                <td>{{ u.name }}</td>
                <td>${{ u.price }}</td>
                <td> <img style = "width: 150px; height: 160px"src={{u.imageUrl}} /> </td>
            </tr>
        </tbody>
    </table>
    <!-- <button class="btn" ng-click="refresh()">Refresh</button> -->
</div>