<div ng-controller="textCtrl">
<p ng-if="shouldShow"  ng-style="changecolor"  ng-mouseenter="changecolor ={'background-color':'yellow'}"
ng-mouseleave="changecolor ={'background-color':'white'}">
    Angular is a JavaScript MVC or Model-View-Controller
    <br/> framework developed by Google that lets developers 
    <br/> build well structured, easily testable, and maintainable 
    <br/> front-end applications. But before we start creating a real 
   <br/> application using the angular library, let us see what the important 
  <br/>  parts of an angular application are.
</p>
<button  ng-click="showHide()"> Hide/Show</button>
</div>